<h1 class="text-primary">Listado de productos</h1>

<form method="post">
    <div class="mb-3">
        <label for="direccion">Dirección de envío</label>
        <input type="text" name="direccion" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Realizar pedido</button>

    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" name="productos" value="Iphone 19 5000€" /> Iphone 19 5000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="productos" value="Ordenador gaming 2500€" /> Ordenador gaming 2500€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="productos" value="Arbitros Negreira 900000€" /> Arbitros Negreira 900000€
        </li>
    </ul>
</form>